<div class="content-sections">
  <div class="section-1">
    <div class="checks">
      <div class="checkbox-container">
        <input type="checkbox" id="fractura" />
        <label for="fractura">Fractura</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="OrdenCompra" />
        <label for="fractura">Orden de Compra</label>
      </div>
    </div>

    <div class="valoresDefecto">
      <div class="horizontal-item etiquetas">
        <label for="">Fecha: </label>
      </div>
      <div class="horizontal-item">
        <label class="valores" for="">2024-07-12</label>
      </div>
      <div class="horizontal-item etiquetas">
        <label for="">Hora: </label>
      </div>
      <div class="horizontal-item">
        <label class="valores" for="">15:58:53</label>
      </div>
      <div class="horizontal-item etiquetas">
        <label for="">Surtir antes del: </label>
      </div>
      <div class="horizontal-item">
        <mat-form-field appearance="fill">
          <mat-label>Elegir fecha</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="segmento-2">
      <app-plantilla-label
        tiLabel="{{ nameLabels[0] }}"
        vaLabel="DIND-CAD-REQ-000348"
      ></app-plantilla-label>

      <app-plantilla-dropdow-un-cuarto
        desLabel="{{ nameLabels[1] }}"
      ></app-plantilla-dropdow-un-cuarto>
    </div>

    <div class="section-3">
      <div class="segmento-4">
        <app-plantilla-dropdow-un-cuarto
          desLabel="{{ nameLabels[2] }}"
        ></app-plantilla-dropdow-un-cuarto>

        <app-plantilla-dropdow-un-cuarto
          desLabel="{{ nameLabels[3] }}"
        ></app-plantilla-dropdow-un-cuarto>

        <app-plantilla-dropdow-un-cuarto
          desLabel="{{ nameLabels[4] }}"
        ></app-plantilla-dropdow-un-cuarto>

        <app-plantilla-dropdow-un-cuarto
          desLabel="{{ nameLabels[5] }}"
        ></app-plantilla-dropdow-un-cuarto>
      </div>
    </div>

    <div class="section-4">
      <div class="segmento-3">
        <app-plantilla-dropdow-un-cuarto
          desLabel="{{ nameLabels[6] }}"
        ></app-plantilla-dropdow-un-cuarto>
        <app-platilla-tlt-un-tercio
          desLabel="{{ nameLabels[7] }}"
          [saldo]="saldoDisponible"
        ></app-platilla-tlt-un-tercio>
        <app-grupo-botones codigo="1"></app-grupo-botones>
      </div>
    </div>

    <div class="section-4">
      <app-table-templade [columnLabels]="nameLabels"></app-table-templade>
    </div>

    <div class="section-5">
      <app-plantilla-label-input
        tiLabel="Comentario"
      ></app-plantilla-label-input>
    </div>

    <div class="section-6">
      <app-plantilla-contenedor-firmas></app-plantilla-contenedor-firmas>
    </div>

    <div class="section-7">
      <app-boton-templade 
      texto="Enviar Requisición"
      (accion)="addRequisicion()"></app-boton-templade>
    </div>
  </div>
</div>
