<div class="content-sections">
     <div class="section-1">
       <div class="segmento-4">
   
         <app-plantilla-label-input
           tiLabel="{{ nameLabels[0] }}"
         ></app-plantilla-label-input>
   
         <app-plantilla-dropdow-un-cuarto
           desLabel="{{ nameLabels[1] }}"
         ></app-plantilla-dropdow-un-cuarto>
   
         <app-plantilla-dropdow-un-cuarto
           desLabel="{{ nameLabels[2] }}"
         ></app-plantilla-dropdow-un-cuarto>
   
         <app-grupo-botones codigo="2"></app-grupo-botones>
       </div>
     </div>
   </div>
   