<div class="header">
     <div class="header-section header-left">
         <img src="/logos/siap/logo-siap-blanco.png" alt="Image 1" width="50">
         <img src="/logos/domo/logo-domo-blanco.png" alt="Image 2" width="50">
     </div>
     <div class="header-section header-center">
         <a href="">Web Mail</a>
         <a href="">App Movil</a>
         <a href="">Ayuda</a>
     </div>
     <div class="header-section header-right">
         <span>Ing. Pedro Sandoval</span>
         <div class="menu">
             <img src="/iconos/perfil.png" alt="Profile" width="40">
             <div class="menu-content">
                 <a href="#option1">Opción 1</a>
                 <a href="#option2">Opción 2</a>
                 <a href="#option3">Opción 3</a>
             </div>
         </div>
     </div>
 </div>

<div class="body">
     
</div>