.grupo-elementos {
  background-color: #d1d5df;
  padding: 20px;
  position: relative; /* Necesario para posicionar el submenú relativo a este contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: 20%;
  height: 100%;
}

.linea-divisora {
  border-top: 2px solid #7fa0cc;
  padding-bottom: 10px;
  width: 100%;
}

/* Estilos para la imagen dentro de grupo-elementos */
.grupo-elementos img {
  width: 200px;
  height: 175px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Estilos para el texto dentro de grupo-elementos */
.grupo-elementos p {
  font-size: 18px;
  font-weight: bold;
  color: #1c3359;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.grupo-elementos p:hover {
    color: #0055D9;
  }

/* Estilos para la línea hr dentro de grupo-elementos */
.grupo-elementos hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.menu-items {
  /* Estilos para los elementos hijos */
  display: none; /* Mostrar los elementos en una línea */
  flex-direction: column;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
}

.app-menu-inicio-principal {
  /* Estilos para cada componente hijo */
  flex: 0 0 calc(50% - 20px); /* Ancho del 50%, menos el espacio entre los elementos */
  margin: 10px; /* Espacio entre los elementos */
}

.grupo-elementos:hover .menu-items {
  display: flex;
}
