<div class="grupo-elementos">
  <img src="/menu/admin.png" alt="Imagen" />
  <p>ADMINISTRACION</p>
  <div class="linea-divisora"></div>
  <div class="menu-items">
    <app-menu-inicio-principal
      menuPrin="Tablero Financiero"
    ></app-menu-inicio-principal>
    <app-menu-inicio-principal menuPrin="Cheques"></app-menu-inicio-principal>
    <app-menu-inicio-principal
      menuPrin="Cuentas por Pagar"
    ></app-menu-inicio-principal>
    <app-menu-inicio-principal
      menuPrin="Cuentas por Cobrar"
    ></app-menu-inicio-principal>
  </div>
</div>
