.dropdown-item {
     display: flex;
     flex-direction: column;
     align-items: start;
     background-color: white;
     height: 8vh;
   }
   
   .dropdown-item label {
     background-color: var(--azul-domo);
     margin-bottom: 5px;
     width: calc(100% - 4.7vh);
     color: white;
     padding: 0 20px;
     border-left: 1px solid #ccc; /* Añade borde para visualización */
   }
   
   .dropdown-item select {
     width: 95%;
     height: 4vh;
     padding: 4px;
     margin-left: 10px;
   }